@import "tailwindcss";
@import "tw-animate-css";
@import "shadcn/tailwind.css";

@custom-variant dark (&:is(.dark *));

:root {
  --background-primary: oklch(96.75% 0.01 87.47);
  --background-secondary: oklch(93.07% 0.015 77.07);
  --accent: oklch(64.76% 0.185 43.44);
  --contrast: oklch(24.16% 0.023 57.44);
  --text: oklch(40.29% 0.026 55.52);
}

.dark {
  --background-primary: oklch(18.28% 0.01 52.8);
  --background-secondary: oklch(22.87% 0.015 57.46);
  --accent: oklch(64.76% 0.185 43.44);
  --contrast: oklch(96.75% 0.01 87.47);
  --text: oklch(79.3% 0.024 78.18);
}

@theme inline {
  --font-sans: var(--font-sans);
  --font-heading: var(--font-heading);
  --color-background-primary: var(--background-primary);
  --color-background-secondary: var(--background-secondary);
  --color-accent: var(--accent);
  --color-contrast: var(--contrast);
  --color-text: var(--text);
  --radius-sm: calc(var(--radius) * 0.6);
  --radius-md: calc(var(--radius) * 0.8);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) * 1.4);
  --radius-2xl: calc(var(--radius) * 1.8);
  --radius-3xl: calc(var(--radius) * 2.2);
  --radius-4xl: calc(var(--radius) * 2.6);
  --animate-marquee: marquee var(--duration) infinite linear;
  --animate-marquee-vertical: marquee-vertical var(--duration) linear infinite;
  @keyframes marquee {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(calc(-100% - var(--gap)));
    }
  }
  @keyframes marquee-vertical {
    from {
      transform: translateY(0);
    }
    to {
      transform: translateY(calc(-100% - var(--gap)));
    }
  }
}

@layer base {
  body {
    @apply bg-background-primary text-text;
  }
  html {
    @apply font-sans;
  }
  h1 {
    @apply font-heading;
  }
  h2 {
    @apply font-heading;
  }
  h3 {
    @apply font-heading;
  }
}
